<a href="https://colab.research.google.com/github/Fitzpatrique/Recommender_System/blob/main/Hotel_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Hotel Reviews Data in Europe

#### The purpose of this project is to train a recommender system model that recommends similar hotels to your hotel of interest; across Europe using the hotel reviews data in Europe

In [ ]:
# Mount your Google drive folder on Colab
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
# Import the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load the dataset using Pandas library
df = pd.read_csv("/content/gdrive/My Drive/Hotel_Reviews.csv")

In [ ]:
# Explore the dataset
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [ ]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng'],
      dtype='object')

In [ ]:
df['lat'].nunique()

1472

# Perform data preprocessing

In [ ]:
#Fill missing latitudes
for i in range(351449,352107):
  df['lat'].iloc[i] = 48.2094
for i in range(465289,465852):
  df['lat'].iloc[i] = 16.5127
for i in range(500179,500568):
  df['lat'].iloc[i] = 48.2100
for i in range(177657,177947):
  df['lat'].iloc[i] = 48.8753
for i in range(365418,365663):
  df['lat'].iloc[i] = 48.1888
for i in range(499956,500179):
  df['lat'].iloc[i] = 48.2168
for i in range(440791,440985):
  df['lat'].iloc[i] = 48.2196
for i in range(449450,449597):
  df['lat'].iloc[i] = 48.2460
for i in range(282265,282411):
  df['lat'].iloc[i] = 41.3916
for i in range(327680,327773):
  df['lat'].iloc[i] = 48.2209
for i in range(338919,338980):
  df['lat'].iloc[i] = 19.4147
for i in range(352107,352164):
  df['lat'].iloc[i] = 48.2095
for i in range(116738,116793):
  df['lat'].iloc[i] = 48.8889
for i in range(395735,395784):
  df['lat'].iloc[i] = 48.1868
for i in range(99488,99525):
  df['lat'].iloc[i] = 48.8400
for i in range(401983,402016):
  df['lat'].iloc[i] = 41.3927
for i in range(449422,449450):
  df['lat'].iloc[i] = 41.3833

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
#Fill missing longitudes
for i in range(351449,352107):
  df['lng'].iloc[i] = 16.3534
for i in range(465289,465852):
  df['lng'].iloc[i] = 80.6260
for i in range(500179,500568):
  df['lng'].iloc[i] = 16.3634
for i in range(177657,177947):
  df['lng'].iloc[i] = 2.3234
for i in range(365418,365663):
  df['lng'].iloc[i] = 16.3838
for i in range(499956,500179):
  df['lng'].iloc[i] = 16.3599
for i in range(440791,440985):
  df['lng'].iloc[i] = 16.2855
for i in range(449450,449597):
  df['lng'].iloc[i] = 16.3412
for i in range(282265,282411):
  df['lng'].iloc[i] = 2.1779
for i in range(327680,327773):
  df['lng'].iloc[i] = 16.3666
for i in range(338919,338980):
  df['lng'].iloc[i] = 99.1846
for i in range(352107,352164):
  df['lng'].iloc[i] = 16.3515
for i in range(116738,116793):
  df['lng'].iloc[i] = 2.3331
for i in range(395735,395784):
  df['lng'].iloc[i] = 16.4207
for i in range(99488,99525):
  df['lng'].iloc[i] = 2.3236
for i in range(401983,402016):
  df['lng'].iloc[i] = 2.1674
for i in range(449422,449450):
  df['lng'].iloc[i] = 2.1628

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         515738 non-null  float64
 16  lng                                         515738 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [ ]:
df['Hotel_Address'].nunique()

1493

In [ ]:
hotel_df = df.copy()

In [ ]:
# Perform feature selection using domain knowledge
hotel_df = hotel_df[['Hotel_Address','Average_Score','Hotel_Name','Tags','lat','lng']]

In [ ]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   lat            515738 non-null  float64
 5   lng            515738 non-null  float64
dtypes: float64(3), object(3)
memory usage: 23.6+ MB

In [ ]:
hotel_df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Family with young childre...",52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",52.360576,4.915968

In [ ]:
# Remove duplicate data
print(f'Total number of duplicated data in the dataset is {hotel_df.duplicated().sum()}')

Total number of duplicated data in the dataset is 336680

In [ ]:
hotel_df.drop_duplicates(inplace=True)

In [ ]:
hotel_df.iloc[0]

Hotel_Address     s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
Average_Score                                                  7.7
Hotel_Name                                             Hotel Arena
Tags             [' Leisure trip ', ' Couple ', ' Duplex Double...
lat                                                      52.360576
lng                                                       4.915968
Name: 0, dtype: object

In [ ]:
hotel_df.iloc[90000]

Hotel_Address    Aletta Jacobslaan 7 Slotervaart 1066 BP Amster...
Average_Score                                                  8.4
Hotel_Name                       Corendon Vitality Hotel Amsterdam
Tags             [' Couple ', ' Standard Twin Room ', ' Stayed ...
lat                                                      52.346645
lng                                                       4.831098
Name: 267548, dtype: object

In [ ]:
# Create new feature column by extracting country information from hotel address column

In [ ]:
def extract(txt):
  txt = txt.split()
  txt = f'{txt[-2]} {txt[-1]}'
  return txt

In [ ]:
hotel_df['Country'] = hotel_df['Hotel_Address'].apply(extract)

In [ ]:
hotel_df['Country'].unique()

array(['Amsterdam Netherlands', 'United Kingdom', 'Paris France',
       'Barcelona Spain', 'Milan Italy', 'Vienna Austria'], dtype=object)

In [ ]:
def extract2(txt):
  if txt != 'United Kingdom':
    txt = txt.split()
    txt =  txt[-1]
    return txt
  else:
    return txt

In [ ]:
hotel_df['Country'] = hotel_df['Country'].apply(extract2)

In [ ]:
# Check to see total number of individual hotels
hotel_df['Hotel_Name'].nunique()

1492

In [ ]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179058 entries, 0 to 515736
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  179058 non-null  object
 1   Average_Score  179058 non-null  float64
 2   Hotel_Name     179058 non-null  object
 3   Tags           179058 non-null  object
 4   lat            179058 non-null  float64
 5   lng            179058 non-null  float64
 6   Country        179058 non-null  object
dtypes: float64(3), object(4)
memory usage: 10.9+ MB

In [ ]:
hotel_df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,lat,lng,Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968,Netherlands
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968,Netherlands
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Family with young childre...",52.360576,4.915968,Netherlands
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",52.360576,4.915968,Netherlands
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",52.360576,4.915968,Netherlands

# Skip this part

In [ ]:
hotel_df['Tags'] = hotel_df['Tags'].apply(lambda x: x.replace("[",""))
hotel_df['Tags'] = hotel_df['Tags'].apply(lambda x: x.replace("]",""))
hotel_df['Tags'] = hotel_df['Tags'].apply(lambda x: x.replace("'",""))
hotel_df['Tags'] = hotel_df['Tags'].apply(lambda x: x.replace(" , ",","))

hotel_df['Tags'] = hotel_df['Tags'].apply(lambda x: x.split(","))

In [ ]:
hotel_df['Tags'][0]

[' Leisure trip', ' Couple', ' Duplex Double Room', ' Stayed 6 nights ']

In [ ]:
def extract4(txt):
  for i in range(len(txt)):
    if txt[i][0] == ' ':
      txt[i] = txt[i][1:]
    if txt[i][-1] == ' ':
      txt[i] = txt[i][:-2]
  return txt

In [ ]:
hotel_df['Tags'] = hotel_df['Tags'].apply(extract4)

In [ ]:
hotel_df.iloc[0]['Tags']

['Leisure trip', 'Couple', 'Duplex Double Room', 'Stayed 6 night']

In [ ]:
hotel_dict = {}

for i in list(hotel_df['Hotel_Name'].unique()):
  hotel_dict[i] = []

In [ ]:
hotel_df[hotel_df['Hotel_Name'] == 'Hotel Arena']['Tags'].iloc[0]

['Leisure trip', 'Couple', 'Duplex Double Room', 'Stayed 6 night']

In [ ]:
for a in list(hotel_df['Hotel_Name'].unique()):
  for i in range(len(hotel_df[hotel_df['Hotel_Name'] == a]['Tags'])):
    for j in hotel_df[hotel_df['Hotel_Name'] == a]['Tags'].iloc[i]:
      if j not in hotel_dict[a]:
        hotel_dict[a].append(j)

In [ ]:
list1 = list(hotel_dict.keys())

In [ ]:
list2 = list(hotel_dict.values())

In [ ]:
list_tuple = list(zip(list1,list2))

In [ ]:
new_hotel_df = pd.DataFrame(list_tuple, columns=['Hotel_Name', 'Tags'])

In [ ]:
new_hotel_df.head()

,Hotel_Name,Tags
0,Hotel Arena,leisure_trip couple duplex_double_room stayed_...
1,K K Hotel George,leisure_trip group classic_twin_room stayed_3_...
2,Apex Temple Court Hotel,leisure_trip couple deluxe_king_room_with_club...
3,The Park Grand London Paddington,family_with_young_children triple_room stayed_...
4,Monhotel Lounge SPA,leisure_trip group comfort_double_room stayed_...

In [ ]:
new_hotel_df['Tags'] = new_hotel_df['Tags'].apply(lambda x:'.'.join(x))
new_hotel_df['Tags'] = new_hotel_df['Tags'].apply(lambda x: x.replace(" ","_"))
new_hotel_df['Tags'] = new_hotel_df['Tags'].apply(lambda x: x.replace("."," "))
new_hotel_df['Tags'] = new_hotel_df['Tags'].apply(lambda x:x.lower())

In [ ]:
new_hotel_df.to_csv('/content/gdrive/MyDrive/New_Hotel_Reviews.csv',index=False)

# Continue data preprocessing here

In [ ]:
# Load new data set from previously preprocessed data set
new_hotel_df = pd.read_csv('/content/gdrive/MyDrive/New_Hotel_Reviews.csv')

In [ ]:
# Explore the data set
new_hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hotel_Name  1492 non-null   object
 1   Tags        1492 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

In [ ]:
new_hotel_df.head()

,Hotel_Name,Tags
0,Hotel Arena,leisure_trip couple duplex_double_room stayed_...
1,K K Hotel George,leisure_trip group classic_twin_room stayed_3_...
2,Apex Temple Court Hotel,leisure_trip couple deluxe_king_room_with_club...
3,The Park Grand London Paddington,family_with_young_children triple_room stayed_...
4,Monhotel Lounge SPA,leisure_trip group comfort_double_room stayed_...

In [ ]:
# Add new features to the data set by merging the new data set with the first group of the previous data set
hotel_group_df = hotel_df.groupby('Hotel_Name')
hotel_group_df = hotel_group_df.first().reset_index()
hotel_group_df.drop(['Tags'], axis=1, inplace=True)
hotel_group_df.head()

,Hotel_Name,Hotel_Address,Average_Score,lat,lng,Country
0,11 Cadogan Gardens,11 Cadogan Gardens Sloane Square Kensington an...,8.7,51.493616,-0.159235,United Kingdom
1,1K Hotel,13 Boulevard Du Temple 3rd arr 75003 Paris France,7.7,48.863932,2.365874,France
2,25hours Hotel beim MuseumsQuartier,Lerchenfelder Stra e 1 3 07 Neubau 1070 Vienna...,8.8,48.206474,16.354630,Austria
3,41,41 Buckingham Palace Road Westminster Borough ...,9.6,51.498147,-0.143649,United Kingdom
4,45 Park Lane Dorchester Collection,45 Park Lane Westminster Borough London W1K 1P...,9.4,51.506371,-0.151536,United Kingdom

In [ ]:
new_hotel_df = new_hotel_df.merge(hotel_group_df,on='Hotel_Name')

In [ ]:
new_hotel_df['Average_Score'] = new_hotel_df['Average_Score'].apply(lambda x: str(x))
new_hotel_df['lat'] = new_hotel_df['lat'].apply(lambda x: str(x))
new_hotel_df['lng'] = new_hotel_df['lng'].apply(lambda x: str(x))

In [ ]:
# Add new information to the Tags feature
new_hotel_df['Tags'] = new_hotel_df['Tags'] + ' ' + new_hotel_df['Country'] + ' ' + new_hotel_df['Average_Score'] + ' ' + new_hotel_df['lat'] + ' ' + new_hotel_df['lng']

In [ ]:
# Drop other features except the Tags feature
new_hotel_df.drop(['Average_Score','lat','lng','Country','Hotel_Address'], axis=1, inplace=True)

# Train the recommender system model

In [ ]:
# Perform feature extraction using count vectorizer
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [ ]:
# Train the count vectorizer model using the Tags feature to create a vector array of features for the recommender system
vectors = cv.fit_transform(new_hotel_df['Tags']).toarray()

In [ ]:
import nltk

In [ ]:
# Stem individual words to their root words in the Tags feature for data cconsistency
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return ' '.join(y)

In [ ]:
new_hotel_df['Tags'] = new_hotel_df['Tags'].apply(stem)

In [ ]:
# Check the degree of closeness between features for shortest distances
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cos = cosine_similarity(vectors)

# Perform inference on the recommender system model

In [ ]:
# Create a function that prints out 5 hotels with the most similar features as the hotel to be recommended
def recommend(text):
  hotel_index = new_hotel_df[new_hotel_df['Hotel_Name']==text].index[0]
  distances = cos[hotel_index]
  hotel_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]

  for i in hotel_list:
    print(new_hotel_df.iloc[i[0]]['Hotel_Name'])

In [ ]:
# Perform inference on the recommender system model
recommend('Hotel Arena')

NH Amsterdam Zuid
Courtyard by Marriott Amsterdam Arena Atlas
NH Amsterdam Noord
Bilderberg Hotel Jan Luyken
Hotel V Nesplein

#Evaluate the recommender system model

In [ ]:
hotel_group_df[hotel_group_df['Hotel_Name'] == 'Hotel Arena']

,Hotel_Name,Hotel_Address,Average_Score,lat,lng,Country
567,Hotel Arena,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,52.360576,4.915968,Netherlands

In [ ]:
hotel_group_df[hotel_group_df['Hotel_Name'] == 'NH Amsterdam Noord']

,Hotel_Name,Hotel_Address,Average_Score,lat,lng,Country
1041,NH Amsterdam Noord,Distelkade 21 Amsterdam Noord 1031 XP Amsterda...,8.2,52.392368,4.911044,Netherlands